.orders_content{
	width: 100%;
	text-align: center;
	padding: 6rem;
	font-size: 1.2rem;
	color: rgba(0,0,0,.6);
}
.orders_header{
	text-align: center;
	font-size: 7rem;
	color: rgba(0,0,0,.6);
    margin-top: 3rem;
}
.orders_details{
text-align: center;
border-radius: 5px;
box-shadow: 0 .5rem 1rem rgba(0,0,0,.6);
margin-bottom: 3rem !important;
height: 18rem;
margin-right: 2.5rem;
}

.orders_item ul{
  list-style:none;
}

.orders_details span{
	display: block;
	padding: 1.5rem;
}

@media(max-width: 900px){
	
	.orders_details{
		display: block;
		width: 100% !important;
                height:auto !important;
	}
}